.videoPopup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 90000000;

}
.videoPlayer  {
    position: relative;
    width: 800px;
    aspect-ratio: 16 / 9;
    background-color: white;
    transform: scale(0.2);
    transition: transform 250ms;
}
.closeBtn  {
    position: absolute;
    top: -20px;
    right: 0;
    color: white;
    cursor: pointer;
}
.visible  {
    opacity: 1;
    visibility: visible;
}
.opacityLayer  {
    opacity: 1;
}
.videoPlayer  {
    transform: scale(1);
}