.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: auto;
    color: white;
}
@media (max-width:980px)  {

.details{
    width: 99%;
}

}